​*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.c-carousel{
  height:100vh;
  width:100%;
  position:relative;
  display:flex;
}
.c-carousel-item{
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  width:100%;
  height:100%;
  transition:all 0.5s ease-in-out;
}
.c-carousel-item.active{
  opacity:1;
}
.c-carousel-item img{
  position:relative;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.c-carousel-control-prev{
  position:absolute;
  width:auto;
  padding:0 40px;
  height:100%;
  left:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#e2e2e2;
  font-size: 40px;
  cursor: pointer;
}
.c-carousel-control-next{
  position:absolute;
  width:auto;
  padding:0 40px;
  height:100%;
  right:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#e2e2e2;
  font-size: 40px;
  cursor: pointer;
}
.c-carousel-indicators{
  position:absolute;
  bottom:50px;
  left:50%;
  transform:translateX(-50%);
  width:70%;
  height:auto;
  display:flex;
  align-items: center;
  justify-content: center;
}
.c-carousel-indicators ul{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.c-carousel-indicator-li{
  position:relative;
  display:inline-block;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index:3;
  cursor:pointer;
  transition:all 0.3s ease-in-out;
}
.c-carousel-indicator-li.active{
  transform:scale(1.1);
  border:2px solid #aaaaaa;
}


